.chat_container .chat_header h1{
    font-size: 23px;
}


.chat_container .chat{
    height: 80vh;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--white);

}

.chat_container .chat_header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);

}


.chat_container .join_body{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.chat_container .join_body .join_content{
    width: 100%;
    height: 50%;
    
}

.chat_container .join_body .join_content input{
    width: 80%;
    display: block;
    padding: 0.375rem 0.75rem;
    margin: auto;
    margin-top: 30px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
    letter-spacing: 0.5px;
    font-family: 'Zen Antique', serif;
}

.chat_container .join_body .join_content input[type=submit]{
    /* background-color: lightslategray; */
    color: var(--white);
    background: linear-gradient(-10deg,var(--primary_color),var(--secondary_color));

}











