@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0rem;
	padding: 0rem;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

:root {
	--dark-color-a: #075e54;
	--dark-color-b: #77d7c8;
	--light-color: #ffffff;
	--light-color-dark: #f0f2f5;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--text-color: #111b21;
}

body {
	margin: auto;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1{
	font-size: 1.5rem !important;
}

h2{
	font-size: 1.2rem !important;
}

h3{
	font-size: 1rem !important;
}

h4{
	font-size: 0.8rem !important;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 0.2rem 0.5;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 1rem;
}
