@import "./config.css";
/* Chat Page */

.chat-header {
	max-width: 1300px;
	margin: auto;
	width: 100%;
	height: 80px;
	padding: 1rem;
	background: var(--light-color-dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid lightgrey;

}
.chat-header h1 {
	padding: 1rem 0rem;
	font-size: 1.2rem;
}
.chat-header > a {
	padding: 1rem ;
}


.main-container {
	height: calc(100% - 80px);
	max-width: 1300px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--light-color-dark);
}

/* ----------------------- sidebar -----------------  */
.main-container .chat-sidebar {
	width: 30%;
	height: 100%;
	background-color: var(--light-color-dark);
	padding: 1rem;
	overflow-y: scroll;
	border: 1px solid lightgrey;
}

.main-container .chat-sidebar p#room-name {
	background: rgba(0, 0, 0, 0.1);
	padding: 0.7rem;
	margin-bottom: 1.2rem;
}

.main-container .chat-sidebar h3 {
	margin-bottom: 1rem;
}

.main-container .chat-sidebar ul li {
	padding: 0.7rem;
	border: 1px solid lightgrey;
}

/* chat-main  */
.main-container .chat-main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid lightgrey;
	background-color: var(--light-color);
	
}

/* .chat-messages  */
.main-container .chat-main .chat-messages {
	width: 100%;
	height: 100%;
	padding: 1rem;
	overflow-y: auto;
}

.main-container .chat-main .chat-messages .message,.you {
	max-width: 80%;
	width: fit-content;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.3rem;
	float: left;
	clear: both;
	background: #d9fdd3;
}
.main-container .chat-main .chat-messages .you {
	text-align: right;
	float: right;
	clear: both;
	background-color: var(--light-color-dark);
}

.main-container .chat-main .chat-messages .message .text > a {
	color: var(--dark-color-a);
	font-weight: bold;
}

.main-container .chat-main .chat-messages .message .meta, .you  .meta {
	font-size: 0.8rem;
	color: var(--dark-color-a);
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	opacity: 0.8;
}

.main-container .chat-main .chat-messages .message .meta span,.you .meta span {
	padding-left: 1rem;
	padding-top: 0.5rem;
	color: var(--text-color);
}

/* .chat-form-container  */
.main-container .chat-main .chat-form-container {
	width: 100%;
	padding: 1rem;
	background-color: var(--light-color-dark);
	border: 1px solid lightgrey;

}

.main-container .chat-main .chat-form-container form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-container .chat-main .chat-form-container input[type='text']{
	width: 80%;
	font-size: 1rem;
	padding: 1rem;
	border: 1px solid lightgrey;
	outline: none;
}
.main-container .chat-main .chat-form-container button{
	width: 20%;
	font-size: 1rem;
	padding: 1rem;
	margin-left: 1rem;
	border: 1px solid lightgrey;
	outline: none;
}
.main-container .chat-main .chat-form-container input[type='text']:focus{
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}


@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
